<!doctype html>
<html lang="en">

<head>
	<title>用户管理 | 添加用户</title>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">用户管理</h3>

					<div class="row">
						<div class="col-md-12">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">添加用户</h3>
								</div>
								<div class="panel-body">
									<form name="form1" class="form-inline" method="post" action="?c=User&a=insert" onsubmit='loadContentFrame()'>
										<table class="table table-hover">
										<tbody>
											<tr>
												<div class="form-group">
													<td height="30" align="right">用户名：</td>
													<td><input class="form-control" name="username" type="text" size="20" maxlength="15" />
													<font color="#FF0000">*</font>
													<font color="#666666">长度为5-15位（字母、数字），不能含有特殊符号</font></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">密&ensp;&ensp;码：</td>
													<td><input class="form-control" name="password" type="password" size="20" maxlength="15" />
													<font color="#FF0000">*</font>
													<font color="#666666">长度为5-15位（字母、数字），不能含有特殊符号</font></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">确认密码：</td>
													<td><input class="form-control" name="confirmpwd" type="password" size="20" maxlength="15" />
													<font color="#FF0000">*</font>
													<font color="#666666">两次输入的密码必须一致</font></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">真实姓名：</td>
													<td><input class="form-control" name="name" type="text" size="20" maxlength="15" id="name" />
													<font color="#FF0000">*</font>
													<font color="#666666">你的姓名，必须为汉字</font></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">联系方式：</td>
													<td><input class="form-control" name="tel" type="text" id="tel" size="20" maxlength="15" />
													<font color="#FF0000">*</font>
													<font color="#666666">例如：13671181498 或 010-12345678</font></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">账号状态：</td>
													<td><input  name="status" type="radio" value="1" checked/>正常
													<input  name="status" type="radio" value="0" />停用
													</td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">角色：</td>
													<td>
													<select class="form-control" name="role">
															<option value="1">超级管理员</option>
															<option value="0" selected="selected">普通管理员</option>
														</select>
													</td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">&nbsp;</td>
													<td>
														<input class="btn btn-primary" type="submit" value="添加" 
														/>
														<input class="btn btn-warning" type="button" onclick="loadContentFrame('?c=User')" value="返回" />
													</td>
												</div>
											</tr>
										</tbody>
										</table>
									</form>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
</body>

</html>
