<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
	<title>登陆 | 远方小镇后台管理</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- GOOGLE FONTS -->
	<link rel="stylesheet" href="./Public/Admin/Css/fonts.css">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="./Public/Admin/Css/bootstrap.min.css">
	<link rel="stylesheet" href="./Public/Admin/Vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./Public/Admin/Vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="./Public/Admin/Css/main.css">
	<link rel="stylesheet" href="./Public/Admin/Css/site.css">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="./Public/Admin/Images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./Public/Admin/Images/favicon.png">

	<script type="text/javascript" src="./Public/Admin/Js/login.js"></script>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div class="content">
							<div class="header">
							<!-- Faraway town -->
								<div class="logo text-center"><img src="./Public/Admin/Images/logo-dark.png" alt="Klorofil Logo"></div>
								<p class="lead">登陆</p>
							</div>
							<form class="form-auth-small" name="form1" method="post" action="?c=User&a=loginCheck" id="form1" onSubmit="return checkForm()">
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Email</label>
									<input type="text" class="form-control" name="username" id="signin-email" value="" placeholder="请输入用户名">
								</div>
								<div class="form-group">
									<label for="signin-password" class="control-label sr-only">Password</label>
									<input type="password" class="form-control" name="password" id="signin-password" value="" placeholder="请输入密码">
								</div>
								<div class="form-group clearfix">
									<label class="fancy-checkbox element-left">
										<input type="checkbox">
										<span>记住密码</span>
									</label>
								</div>
								<button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
								<div class="bottom">
									<span class="helper-text"><i class="fa fa-lock"></i> <a href="#">忘记密码?</a></span>
								</div>
							</form>
						</div>
					</div>
					<div class="right">
						<div class="overlay"></div>
						<div class="content text">
							<h1 class="heading">远方小镇博客后台管理</h1>
							<p>作者:Rain</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- END WRAPPER -->
		<div class="site-generator-wrapper">
		    <div class="site-generator">京ICP备17029279号 &copy; Copyright 2017-2018 ychy0001.xin All rights reserved</div>
		</div>
	</div>
</body>

</html>
