<!doctype html>
<html lang="en">

<head>
	<title>链接管理 | 添加连接</title>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">友情链接管理</h3>

					<div class="row">
						<div class="col-md-12">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">添加友情链接</h3>
								</div>
								<div class="panel-body">
									<form name="form1" class="form-inline" method="post" action="?c=Links&a=insert" onsubmit='loadContentFrame()'>
										<table class="table table-hover">
										<tbody>
											<tr>
												<div class="form-group">
													<td height="30" align="right">域&ensp;&ensp;名：</td>
													<td><input class="form-control" name="domain" type="text" size="90" maxlength="50" /></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">网&ensp;&ensp;址：</td>
													<td><input class="form-control" name="url" type="text" size="90" maxlength="50" /></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">排&ensp;&ensp;序：</td>
													<td>
													<input class="form-control" name="orderby" type="text" value="50" size="2" maxlength="2" />
													&nbsp;数值数小，排序越靠前
													</td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">&nbsp;</td>
													<td>
														<input class="btn btn-primary" type="submit" value="添加" 
														/>
														<input class="btn btn-warning" type="button" onclick="loadContentFrame('?c=Links')" value="返回" />
													</td>
												</div>
											</tr>
										</tbody>
										</table>
									</form>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
</body>

</html>
