<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>远方小镇</title>
<link rel="stylesheet" type="text/css" media="all" href="./Public/Home/Css/style.css" />
<!-- 自适应页面 -->
<link rel="stylesheet" type="text/css" href="./Public/Home/Css/media-queries.css" />

<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="./Public/Home/Js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="./Public/Home/Js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="./Public/Home/Js/jquery.fitvids.js"></script>
<script type="text/javascript" src="./Public/Home/Js/selectnav.js"></script>
<script type="text/javascript" src="./Public/Home/Js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="./Public/Home/Js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="./Public/Home/Js/jquery.dcflickr.1.0.js"></script>

</head>
<body class="single">
<div class="scanlines"></div>

<!-- Begin Header -->
<div class="header-wrapper opacity">
    <div class="header">
        <!-- Begin Logo -->
        <div class="logo">
            <a href="index.html">
                <img src="./Public/Home/Images/logo.png" alt="" />
            </a>
        </div>
        <!-- End Logo -->
        <!-- Begin Menu -->
        <div id="menu-wrapper">
            <div id="menu" class="menu">
                <ul id="tiny">
                    <li><a href="?c=Index">首页</a>
                       <!--  <ul>
                            <li><a href="?c=Index">首页</a></li>
                            <li><a href="#">推荐</a></li>
                        </ul> -->
                    </li>
                    <li><a href="?c=Index&a=showList">博文列表</a></li>
                    <li><a href="#">联系我</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <!-- End Menu -->
    </div>
</div>
<!-- End Header -->

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro">让你害怕的不是未知的未来，而是不断重复着过去的错误。<br>
—《源代码》</div>
<ul class="social">
    <li>
        <a class="rss" href="#"></a>
    </li>
    <li>
        <a class="facebook" href="#"></a>
    </li>
    <li>
        <a class="twitter" href="#"></a>
    </li>
    <li>
        <a class="pinterest" href="#"></a>
    </li>
    <li>
        <a class="dribbble" href="#"></a>
    </li>
    <li>
        <a class="flickr" href="#"></a>
    </li>
    <li>
        <a class="linkedin" href="#"></a>
    </li>
</ul><!-- End Intro --> 

<!-- Begin Main Image -->
<{if isset($article.image_title) && !empty($article.image_title)}>
    <div class="main-image">
        <div class="outer">
            <span class="inset"><img src="style/images/art/post1-full.jpg" alt=""/></span>
        </div>
    </div>
<{/if}>
<!-- End Main Image -->

<!-- Begin Container -->
<div class="content">

    <!-- Begin Post -->
    <div class="post format-image box">

        <div class="details">
            <span class="icon-image"><{$article.addate|date_format:'%Y-%m-%d %H:%M:%S'}></span>
            <span class="likes"><a href="?c=Index&a=praise&id=<{$article['id']}>&addr=<{$smarty.server.SERVER_ADDR}>" onclick="addPraise()" class="likeThis"><{$article.praise}></a></span>
            <span class="comments"><a href="?c=Index&a=commments&addr=<{$smarty.server.SERVER_ADDR}>"><{$article.comment_count}></a></span>
        </div>

        <h1 class="title"><{$article.title}></h1>
        <div class="post_content" name="content<{$article.id}>">
            <{$article.content}>
        </div>

        <div class="tags"><a href="#"><{$article.classname}></a></div>

        <div class="post-nav">
            <span class="nav-prev">
                <{if $pageArr[0]}>
                    <a href="?c=Index&a=content&id=<{$pageArr[0]['id']}>">&larr;<{$pageArr[0]['title']}></a>
                <{else}>
                    没有啦！
                <{/if}>
            </span>
            <span class="nav-next">
                <{if $pageArr[1]}>
                    <a href="?c=Index&a=content&id=<{$pageArr[1]['id']}>"><{$pageArr[1]['title']}>&rarr;</a>
                <{else}>
                    没有啦！
                <{/if}>
            </span>
            <div class="clear"></div>
        </div>

    </div>
    <!-- End Post -->

    <!-- Begin Comment Wrapper -->
    <div id="comment-wrapper" class="box">

        <!-- Begin Comments -->
        <div id="comments">

            <h3 id="comments-title">共有<{$article.comment_count}>个评论</h3>

            <ol id="singlecomments" class="commentlist">
            <{foreach $comments as $comment}>
                <li class="comment">
                    <div class="comment">
                        <div class="comment-author vcard user frame">
                            <img alt="头像" src='./Public/Home/Images/head.png' class='avatar avatar-70 photo' height='70' width='70' />
                        </div>
                        <div class="message">
                            <span class="reply-link"><a class="comment-reply-link" href="javascript:void(0)" onclick="document.comment.pid.value=<{$comment.id}>">回复</a></span>
                            <div class="info">
                                <h2><{$comment.username}></h2>
                                <span class="meta"><{$comment.addate|date_format:'%Y-%m-%d %H:%M:%S'}></span>
                            </div>
                            <div class="comment-body ">
                                <p><{$comment.content}></p>
                            </div>
                            <span class="edit-link"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <{if $comment.son}>
                    <ul class='children'>
                         <{foreach $comment.son as $son}>
                        <li class="comment even depth-2" id="li-comment-5">
                            <div id="comment-5" class="com-wrap">
                                <div class="comment-author vcard user frame">
                                    <img alt='' src='./Public/Home/Images/head.png' class='avatar avatar-70 photo' height='70' width='70' />           </div><!-- .comment-author .vcard -->
                                <div class="message">
                                    <span class="reply-link"><a class='comment-reply-link' href='/obscura-wp/morning-glory/?replytocom=5#respond' onclick='return addComment.moveForm("comment-5", "5", "respond", "16")'>回复</a></span>
                                    <div class="info">
                                        <h2><{$son.username}></h2> 
                                         <span class="meta"><{$son.addate|date_format:'%Y-%m-%d %H:%M:%S'}></span>
                                    </div>
                                    <div class="comment-body ">
                                        <p><{$son.content}></p>
                                    </div>
                                    <span class="edit-link"></span>
                                </div>
                                <div class="clear"></div>
                            </div><!-- #comment-##  -->
                            <div class="clear"></div>
                        </li>
                        <{/foreach}>
                    </ul>
                    <{/if}>
                </li>
                <{/foreach}>
            </ol>
        </div>
        <!-- End Comments -->

        <!-- Begin Form -->
        <div id="comment-form" class="comment-form">

            <div id="respond">
                <h3 id="reply-title">评论</h3>

                <form  name="comment" action="?c=Index&a=send" method="post" id="commentform">
                    <p class="comment-form-author">
                        <label for="author">昵称</label> <span class="required">*</span>
                        <input id="author" name="author" type="text" value="" size="30" aria-required='true'/>
                    </p>
                    <p class="comment-form-comment">
                        <label for="comment">评论</label>
                        <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                    </p>
                    <input type="hidden" name="article_id" value="<{$article.id}>">
                    <input type="hidden" name="pid" value="0">
                    <p class="form-submit">
                        <input name="submit" type="submit" id="submit" value="发表评论"/>
                    </p>
                </form>
            </div><!-- #respond -->

        </div>
        <!-- End Form -->


    </div>
    <!-- End Comment Wrapper -->

</div>
<!-- End Container -->

<!-- Begin Sidebar -->
<div class="sidebar box">
    <div class="sidebox widget">
        <h3 class="widget-title">Popular Posts</h3>
        <ul class="post-list">
            <li>
                <div class="frame">
                    <!-- <a href="#"><img src="style/images/art/s1.jpg"/></a> -->
                </div>
                <div class="meta">
                    <h6><a href="#">Charming Winter</a></h6>
                    <em>28th Sep 2012</em>
                </div>
            </li>
            <li>
                <div class="frame">
                    <!-- <a href="#"><img src="style/images/art/s2.jpg"/></a> -->
                </div>
                <div class="meta">
                    <h6><a href="#">Trickling Stream</a></h6>
                    <em>5th Sep 2012</em>
                </div>
            </li>
            <li>
                <div class="frame">
                    <!-- <a href="#"><img src="style/images/art/s3.jpg"/></a> -->
                </div>
                <div class="meta">
                    <h6><a href="#">Morning Glory</a></h6>
                    <em>26th Sep 2012</em>
                </div>
            </li>
        </ul>

    </div>

    <div class="sidebox widget">
        <h3 class="widget-title">搜索</h3>
        <form class="searchform" method="get" action="?c=Index&a=index">
            <input type="hidden" name="c" value="Index">
            <input type="hidden" name="a" value="showList">
            <input type="text" name="title" value="请输入文章标题关键字" onFocus="this.value=''" onBlur="this.value='请输入文章标题关键字'"/>
        </form>
    </div>

    <div class="sidebox widget">
        <h3 class="widget-title">分类</h3>
        <ul>
            <{foreach $categorys as $category}>
            <li><a href="?category_id=<{$category.id}>"><{str_repeat('--',$category.level*2)}><{$category.classname}></a>(<{$category.article_num}>)
            </li>
            <{/foreach}>
        </ul>
    </div>
</div>
<!--End Sidebar -->
<div class="clear"></div>

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<div class="footer-wrapper">
    <div id="footer" class="four">
        <div id="first" class="widget-area">
            <div class="widget widget_search">
                <h3 class="widget-title">文章搜索</h3>
                <form class="searchform" method="get" action="?c=Index&a=showList">
                    <input type="hidden" name="c" value="Index">
                    <input type="hidden" name="a" value="showList">
                    <input type="text" name="title" value="请输入文章标题关键字" onFocus="this.value=''" onBlur="this.value='请输入文章标题关键字'"/>
                </form>
            </div>

        </div><!-- #first .widget-area -->

        <div id="second" class="widget-area">
            <div class="widget widget_archive">
                <h3 class="widget-title">年份归档</h3>
                <ul>
                    <{foreach $datas as $data}>
                    <li>
                        <a href="?c=Index&a=index&date=<{$data.months}>"><{$data.months}></a>
                        (<span><{$data.article_count}></span>)
                    </li>
                    <{/foreach}>
                </ul>
            </div>
        </div><!-- #second .widget-area -->

        <div id="third" class="widget-area">
            <div id="example-widget-3" class="widget example">
                <h3 class="widget-title">热门博文</h3>
                <ul class="post-list">
                    <li>
                        <!-- <div class="frame">
                            <a href="#"><img src="./Public/Home/Images/art/s1.jpg" /></a>
                        </div> -->
                        <div class="meta">
                            <h6><a href="#">Charming Winter</a></h6>
                            <em>28th Sep 2012</em>
                        </div>
                    </li>
                    <li>
                        <!-- 	<div class="frame">
                                <a href="#"><img src="./Public/Home/Images/art/s2.jpg" /></a>
                            </div> -->
                        <div class="meta">
                            <h6><a href="#">Trickling Stream</a></h6>
                            <em>5th Sep 2012</em>
                        </div>
                    </li>
                    <li>
                        <!-- <div class="frame">
                            <a href="#"><img src="./Public/Home/Images/art/s3.jpg" /></a>
                        </div> -->
                        <div class="meta">
                            <h6><a href="#">Morning Glory</a></h6>
                            <em>26th Sep 2012</em>
                        </div>
                    </li>
                </ul>

            </div>
        </div><!-- #third .widget-area -->

        <div id="fourth" class="widget-area">
            <div class="widget">
                <h3 class="widget-title">友情连接</h3>
                <ul class="flickr-feed">
                    <{foreach $links as $link}>
                    <li><a href="<{$link.url}>" target="_black"><{$link.domain}></a></li>
                    <{/foreach}>
                </ul>
            </div>
        </div><!-- #fourth .widget-area -->
    </div>
</div>
<div class="site-generator-wrapper">
    <div class="site-generator">京ICP备17029279号 &copy; Copyright 2017-2018 ychy0001.xin All rights reserved</div>
</div>
<!-- End Footer --> 
<script type="text/javascript" src="./Public/Home/Js/scripts.js"></script>
<script type="text/javascript">
    $.backstretch("./Public/Home/Images/bg/1.jpg");
     $('ul,li,ol,span').css('color','#B9B9B9');
</script>
</body>
</html>