<!doctype html>
<html lang="en">

<head>
	<title>分类管理 | 添加分类</title>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">分类管理</h3>

					<div class="row">
						<div class="col-md-12">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">添加分类</h3>
								</div>
								<div class="panel-body">
									<form name="form1" class="form-inline" method="post" action="?c=Category&a=insert" onsubmit='loadContentFrame()'>
										<table class="table table-hover">
										<tbody>
											<tr>
												<div class="form-group">
													<td height="30" align="right">名&ensp;&ensp;称：</td>
													<td><input class="form-control" name="classname" type="text" size="90" maxlength="50" /></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">排&ensp;&ensp;序：</td>
													<td>
													<input class="form-control" name="orderby" type="text" value="50" size="2" maxlength="2" />
													&nbsp;数值数小，排序越靠前
													</td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td width="100" height="30" align="right">父分类：</td>
													<td>
														<select class="form-control" name="pid">
															<option value="0">无分类</option>
															<{foreach $categorys as $category}>
															<option value="<{$category.id}>">
															<{str_repeat('-',$category.level*4)}>
															<{$category.classname}>
															</option>
															<{/foreach}>
														</select>
													</td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">&nbsp;</td>
													<td>
														<input class="btn btn-primary" type="submit" value="添加" 
														/>
														<input class="btn btn-warning" type="button" onclick="loadContentFrame('?c=Category')" value="返回" />
													</td>
												</div>
											</tr>
										</tbody>
										</table>
									</form>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
</body>

</html>
