<!doctype html>
<html lang="en">

<head>
	<title>文章管理 | 修改文章</title>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">文章管理</h3>

					<div class="row">
						<div class="col-md-12">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">修改文章</h3>
								</div>
								<div class="panel-body">
									<form class="form-inline" method="post" action="?c=Article&a=update" onsubmit='loadContentFrame()'>
										<table class="table table-hover">
										<tbody>
											<tr>
												<div class="form-group">
													<td width="100" height="30" align="right">分&ensp;&ensp;类：</td>
													<td>
														<select class="form-control" name="category_id">
															<option value="0">无分类</option>
															<{foreach $categorys as $category}>
															<option value="<{$category.id}>"
															<{if $category.id eq $article.category_id}> selected='selected'<{/if}>>
															<{str_repeat('-',$category.level*4)}>
															<{$category.classname}>
															</option>
															<{/foreach}>
														</select>
													</td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">标&ensp;&ensp;题：</td>
													<td><input class="form-control" name="title" value="<{$article.title}>" type="text" size="90" maxlength="50" /></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">排&ensp;&ensp;序：</td>
													<td>
													<input class="form-control" name="orderby" type="text" value="<{$article.orderby}>" size="2" maxlength="3" />
													</td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">置&ensp;&ensp;顶：</td>
													<td>
													<label class="fancy-checkbox">
														<input name="top" type="checkbox" 
														<{if $article.top eq 1}> checked='checked'<{/if}>>
														<span></span>
													</label>
													</td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">内&ensp;&ensp;容：</td>
													<td><textarea class="form-control" name="content" style="width:95%;height:300px;" ><{$article.content}></textarea></td>
												</div>
											</tr>
											<tr>
												<div class="form-group">
													<td height="30" align="right">&nbsp;
													<input type="hidden" name="id" value="<{$article.id}>" /></td>
													<td>
														<input class="btn btn-primary" type="submit" value="更新" />
														<input class="btn btn-warning" type="button" onclick="loadContentFrame('?c=Article')" value="返回" />
													</td>
												</div>
											</tr>
										</tbody>
										</table>
									</form>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
</body>

</html>
